.cssFade {
    transition: opacity 1s ease;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.cssFade.ng-hide-add, .cssFade.ng-hide-remove {
    display: block !important;
    transition: opacity 1s ease;
}

.cssFade.ng-hide {
    transition: opacity 1s ease;
    opacity: 0 !important;
}

.ionic_toast {
  color: #fbfbfb;
  font-size: 1em;
  padding: 3px 20px;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  background-color: #11c1f3;
  top: 42px;
}

.ionic_toast_top {
  top: 42px;
}

.ionic_toast_middle {
  top: 40%;
}

.ionic_toast_bottom {
  bottom: 10px;
}

.ionic_toast_close {
  border-radius: 2px;
  color: #CCCCCC;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
}

.toast_close_icon {
  position: relative;
  top: 1px;
}

.ionic_toast_sticky .ionic_toast_close {
  display: block;
}

.ionic_toast_close:active {
  background-color: #555555;
}
